.main{
    flex: 1;
    min-height:100vh;
    padding-bottom: 15vh;
    position: relative;
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 22px;
        padding: 20px;
        color: #585858;
        img{
            width: 40px;
            border-radius: 50%
        }
    }
    .main-container{
        max-width: 900px;
        margin: auto;

        .greet{
            margin: 50px 0;
            font-size: 56px;
            color: #c4c7c5;
            font-weight: 500;
            padding: 20px;

            span{
                background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                
            }
        }

        .cards{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            gap: 15px;
            padding: 20px;

            .card{
                height: 200px;
                padding: 15px;
                background-color: #f0f4f9;
                border-radius: 10px;
                position: relative;
                cursor: pointer;
                img{
                    width: 35px;
                    padding: 5px;
                    position: absolute;
                    background-color: white;
                    border-radius: 20px;
                    bottom: 10px;
                    right: 10px;
                    }
                p{
                    color: #585858;
                    font-size: 17px;
                }
                }
            .card:hover{
                background-color: #e6eaf1;
            }
        }
        .main-bottom{
            position: absolute;
            bottom: 0;
            width: 100%;
            max-width: 900px;
            padding: 0 20px;
            margin: auto;
            .search-box{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                background-color: #f0f4f9;
                padding: 10px 20px;
                border-radius: 50px;

            input{
                flex: 1;
                border: none;
                outline: none;
                background-color: transparent;
                font-size: 18px;
                padding: 8px;
            }
            img{
                width: 24px;
                cursor: pointer;
            }
            div{
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }
        .bottom-info{
            font-size: 13px;
            margin: 15px auto;
            text-align: center;
            font-weight: 300;
        }
        }
        .result{
            padding: 0px 5%;
            max-height: 70vh;
            overflow-y: scroll;
            .result-title{
                margin: 40px 0px;
                display: flex;
                align-items: center;
                gap: 20px;
            }
            img{
                width: 40px;
                border-radius: 50%;
            }
            .result-data{
                display: flex;
                align-items: start;
                gap: 20px;

                .loader{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    hr{
                        border-radius: 5px;
                        border: none;
                        background-color: #f6f7f8;
                        background: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #dae0e8 40%, #ffffff 100%);
                        background-size: 800px 5px;
                        height: 20px;
                        animation: loader 3s infinite linear;
                    }
                }

                p{
                    font-size: 17px;
                    font-weight: 300;
                    line-height: 1.8;
                }
            }
        }
        .result::-webkit-scrollbar{
            display: none;
        }
    }
    

}
@keyframes loader{
    0%{
        background-position: -800px 0px
    }
    100%{
        background-position: 800px 0px
    }
}

@media (max-width: 600px) {
    .main-container{
        padding: 10px;
    }
    .nav {
        font-size: 18px;
        padding: 10px;
    }

    .nav img {
        width: 30px;
    }

    .greet {
        font-size: 36px;
        padding: 10px;
    }

    .cards {
        grid-template-columns: 1fr; /* عرض كارت واحد لكل سطر */
        gap: 20px;
        padding: 15px;
    }

    .card {
        height: 150px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .card img {
        width: 25px;
    }

    .card p {
        font-size: 15px;
    }

    .main-bottom{ 
        padding: 15px;
        input {
        flex: none;
        width: 120px;
    }}


    .main-bottom img {
        width: 20px;
    }

    .search-box {
        padding: 10px 15px;
        input{
            margin-right:10px ;
        }
    }

    .search-box div {
        gap: 5px;
    }

    .bottom-info {
        font-size: 12px;
    }

    .result-title {
        gap: 10px;
    }

    .result img {
        width: 30px;
    }

    .result-data p {
        font-size: 14px;
    }
}